
html, body {
    padding: 0px;
    width: 370px;
    height: 530px;
    background-color: #F6F4EF;
    border: none !important;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 14px;
}

input {
  border: none !important;
  width: 85vw;
  height: 30px;
  margin-top: 5px !important;
  margin-bottom: 10px !important;

}
textarea {
  border: none !important;
  width: 85vw;
  height: 85px;
  margin-top: 5px !important;
  margin-bottom: 10px !important;
}
main {
  margin: 20px;
}

hr {
  width: 85vw;
}

.form-row {
    height: 67px;
}

select {
  border: none !important;
  width: 85vw;
  height: 30px;
  margin-top: 10px !important;
  margin-bottom: -30px !important;
}

input#submit {
    background-color: #27ae60;
    width: 200px;
    height: 41px;
    border-radius: 14px;
    bottom: 20px;
    margin-top: 53px !important;
}
#linkDash {
  font-size: 12px;
  color: black;
  margin-left:5%;
  margin-bottom: 20px;
}
