.container {
    width: .9;
}

.col-md-4 {
    border: 3px solid #eeeeee;
    margin: 5px;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
}

#timeline text {
  font-size: 9px;
}

.myheader {
    margin: 10px;
}
img#banner{
  width: 60% !important;
  height: auto;
}
#count p {
  text-align: center;
  font-size: 80px;
  color: #e74c3c;
}
#count h2 {
  text-align: left;
  color: #000;
}

#timeline path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

a {
    text-decoration: none;
}

#pie {
    align-items: center;
}

#pie svg {
    display: block;
    margin: auto;
}
#level svg{
  display: block;
  margin: auto;
}

#plt .bar {
    fill: #5f89ad;
}

#plt .axis {
    font-size: 13px;
}

#plt .axis path, #plt .axis line {
    fill: none;
    display: none;
}

#plt .label {
    font-size: 13px;
}

#load div{
  border: 3px solid #eeeeee;
  margin: 5px;
  padding: 10px;
}
#load div .l{
  width: 50px;
  float: right;
}
#load div .content{
  font-size: 18px;
}
#load div .s{
  width: 10%;
  height: auto;
}
#load div .s:hover{
  width: 80%;
}
